<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Calcular Juros Compostos</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <form action="/calcular" method="post" class="forms">
            <h1>Calcular Juros Compostos</h1>

            <div class="boxInput">
                <label for="valorInvestido">Valor Investido</label>
                <input type="number" id="valorInvestido" name="valorInvestido" required>
            </div>

            <br>

            <div class="boxInput">
                <label for="taxaDecimal">Taxa em decimal</label>
                <input type="number" id="taxaDecimal" name="taxaDecimal" required placeholder="em porcentagem %">
            </div>

            <br>

            <div class="boxInput">
                <label for="tempo">Tempo</label>
                <input type="number" id="tempo" name="tempo" required>
            </div>

            <br>

            <button type="submit">Calcular</button>
        </form>
    </div>
</body>

</html>